<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ToDo & Co | {% block title %}{% endblock %}</title>
    {% block stylesheet %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<!-- SideBar -->
{% include 'sidebar.html.twig' %}

<!-- Page Content -->


<div class="container-fluid body-container">
    <div class="row real-body">
        <div class="col-md-12">
            {% block header_title %}{% endblock %}

            <div class="col-md-12">
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        <strong>Superbe !</strong> {{ flash_message }}
                    </div>
                {% endfor %}

                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Oops !</strong> {{ flash_message }}
                    </div>
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<!-- Footer -->
{% include 'footer.html.twig' %}

{% block javascript %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
